*{
	margin: 0;
	padding: 0; 
}

.heading{
	padding: 50px;
	border: solid;
	border-color: #B87F45;
	background-color: #CABDAF;
}

.header-name{
	font-size: 45px;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	margin-left:20px;
	margin-top:50px;
}

.header-sub{
	color: #FBAF41;
	margin-left: 30px;
	padding: 10px;
	font-size: 15px;
	
}

.second-header {
	color: #FBAF41;
	margin-left: 40px;
	font-weight: bold;
}

.container{
    max-width: 1100px;
    margin: auto;
}

.column {
	float: left;
	width: 50%;
	padding: 5px;
	border: 2px solid #0B2531;
	
}
.column-right {
	border-right: 2px;
	height: 1300px;
}

.column-left {
	border-left: 2px;
	height: 1300px;
}

.column-right-shadow {
	box-shadow: 10px 10px 5px #A4AAAD;
}

.column-left-background {
	background-color: #0B2531;
}

.column-bottom {
	border-bottom: 5px solid #0B2531;
	padding: 5px;
	margin-right: 20px;
	margin-left:30px;
	margin-top: 20px;
}

.row {
	display: flex;
	padding:5px;
}

.id-picture {
	border: 1px solid white;
	border-radius: 150px;
    width: 250px;
	margin-left: 55px;
	margin-top:20px;
	text-align: center;
	color: white;
}

body {
	font-family: Century Gothic;
}

.second-column {
	width: 100%;
	border-right: 2px solid #0B2531;
	box-shadow: 10px 10px 5px #A4AAAD;
	color: #0B2531;
}

.header {
	color: #FBAF41;
	margin-left: 5px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 25px;
	font-weight: bold;
	border: 2px solid white;
	
}

.sub-header-column-2{
	font-size: 40px;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	margin-left:20px;
	margin-top:30px;
}

.description-column-2{
	color: #0B2531;
	margin-left: 80px;
	padding: 10px;
	font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002730;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #B8E4EE;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #002730;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #B8E4EE;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo{
  width: 35px;
  height: 35px;
  margin-top: 6px;
  margin-right: 10px;
  float: right;
}

.link:link, .link:visited {
  background-color: #173f5f;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link:hover, .link:active {
  background-color: #a8dadc;
  color: black;
  border: 1px solid #173f5f;
}