*{
	margin: 0;
	padding: 0; 
	font-family: century gothic;
}

.container{
	max-width: auto;
	max-height: auto;
	margin-top: 50px;
}

td{
	cursor: pointer;
}
td:active{
    transform: scale(2.5);
    transition: all .5s ease-in-out;
}
td:target{
    transform: scale(2.5);
    transition: all .5s ease-in-out;
}

.size{
	height: 60px;
	width: 50px;
	padding: 10px;
}


/*Element Settings */

.tbl_elem_title{
	font-size: 40px;
	font-weight: bold;
	margin-top: 60px;
	text-align: center;
}
.no{
	font-size: 10px;
}

.elem{
	font-size: 30px;
	text-align: center;

}

.name{
	font-size: 10px;
	text-align: center;
}

.num{
	font-size: 8px;
	text-align: center;
}

.elem_class{
	font-size: 11px;
}

.br{
	height: 50px;
}

.elem_series{
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.al{
	background-color: #FFCDD2;
}

.alkearth{
	background-color: #81C784;
}

.transition{
	background-color: #FFF176;
}

.basicmetal{
	background-color: #A1887F;
}

.semimetal{
	background-color: #90A4AE;
}

.nonmetal{
	background-color: #FBE9E7;
}

.halo{
	background-color: #00838F;
}

.noble{
	background-color: #CC99CC;
}

.lethanide{
	background-color: #99CCFF;
}

.actinide{
	background-color: #CCCCFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002730;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #B8E4EE;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #002730;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #B8E4EE;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo{
  width: 35px;
  height: 35px;
  margin-top: 6px;
  margin-right: 10px;
  float: right;
}