*{
	margin: 0;
	padding: 0; 
}

body{
	font-family: century gothic;
}

.container{
    max-width: 1500px;
    margin: auto;
}

.row {
	display: flex;
	border-collapse: collapse;
	box-shadow: 10px 10px 5px #A4AAAD;
}

.column {
	float: left;
	width: 50%;
	padding: 5px;
}

.column-left{
	height: 600px;
	width: 50%;
}

.column-right{
	height: 600px;
}

.column-right1{
	width: 75%;
}

.column-left-background{
	background-color: #173f5f;
	color: white;
}

.column-right-background{
	background-color: #a8dadc;
}

.header{
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
	font-family: lucida handwritting;
	padding: 10px;
}

.history{
	font-family: calibri;
	font-size: 20px;
	padding: 30px;
	color: #173f5f;
}

.history-header{
	font-size: 28px;
}

td{
	border: 2px solid white;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 25px;
}

.td-background{
	background-color: #a8dadc;
	color: black;
}

.table{
	border: 2px solid white;
	border-collapse:collapse;
}

.table-margin{
	margin-top: 100px;
}

.courses-header{
	font-size: 28px;
	margin-bottom: 40px;
}

.next-page{
	text-align: right;
}

.link:link, .link:visited {
  background-color: #173f5f;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link:hover, .link:active {
  background-color: #a8dadc;
  color: black;
  border: 1px solid #173f5f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002730;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #B8E4EE;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #002730;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #B8E4EE;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo{
  width: 35px;
  height: 35px;
  margin-top: 6px;
  margin-right: 10px;
  float: right;
}